@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}


@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.animate-shimmer {
  animation: shimmer 2.5s ease-in-out infinite;
}


@keyframes jelly {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1, 0.9);
  }
  50% {
    transform: scale(0.9, 1.1);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
}

.animate-jelly {
  animation: jelly 0.6s ease;
}
